.game-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 90%;
  max-width: 45rem;
}

.score {
  display: flex;

  justify-content: space-evenly;
  align-items: center;
  background-color: #2e57d0;
  color: whitesmoke;
  margin: 0 auto;
  padding: 1em;
  // border-radius: 10px;
  // width: 50%;
  font-size: 1.5rem;
  font-weight: 700;

  &__display {
    padding: 0.5em 0;
  }
}
