@use "../_partials/variables" as *;

.score {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba($color: $color-red, $alpha: 0.98);
  color: $color-whitesmoke;
  margin: 0 auto;
  padding: 2em;
  font-size: 1.7rem;
  font-weight: 700;

  &__display {
    padding: 0.5em 0;
  }
}

.current-player {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
