@use "./fonts" as *;

$primary-font: "Roboto", sans-serif;
$font-color-grey: #2b2b2b;
$color-red: rgb(222, 8, 8);
$color-yellow: yellow;
$color-board-blue: #2e57d0;
$color-blue: #223f97;
$color-dark-blue: navy;
$color-white: white;
$color-whitesmoke: whitesmoke;
$color-box-shadow: #132354;
